paperpublish/src/main/resources/data/science_paper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element|xs:complexType)*>
        <!ATTLIST xs:schema
                xmlns:xs CDATA #REQUIRED
                elementFormDefault CDATA #REQUIRED>
        <!ELEMENT xs:element (xs:complexType|xs:key|xs:keyref|xs:unique|xs:simpleType)*>
        <!ATTLIST xs:element
                form CDATA #IMPLIED
                maxOccurs CDATA #IMPLIED
                minOccurs CDATA #IMPLIED
                name CDATA #REQUIRED
                type CDATA #IMPLIED>
        <!ELEMENT xs:complexType (xs:sequence|xs:attribute|xs:simpleContent|xs:all)*>
        <!ATTLIST xs:complexType
                mixed CDATA #IMPLIED
                name CDATA #IMPLIED>
        <!ELEMENT xs:sequence (xs:element)*>
        <!ATTLIST xs:sequence
                maxOccurs CDATA #IMPLIED
                minOccurs CDATA #IMPLIED>
        <!ELEMENT xs:key (xs:selector|xs:field)*>
        <!ATTLIST xs:key
                name CDATA #REQUIRED>
        <!ELEMENT xs:selector (#PCDATA)>
        <!ATTLIST xs:selector
                xpath CDATA #REQUIRED>
        <!ELEMENT xs:field (#PCDATA)>
        <!ATTLIST xs:field
                xpath CDATA #REQUIRED>
        <!ELEMENT xs:keyref (xs:selector|xs:field)*>
        <!ATTLIST xs:keyref
                refer CDATA #REQUIRED
                name CDATA #REQUIRED>
        <!ELEMENT xs:unique (xs:selector|xs:field)*>
        <!ATTLIST xs:unique
                name CDATA #REQUIRED>
        <!ELEMENT xs:attribute (xs:simpleType)*>
        <!ATTLIST xs:attribute
                default CDATA #IMPLIED
                name CDATA #REQUIRED
                type CDATA #IMPLIED
                use CDATA #IMPLIED>
        <!ELEMENT xs:simpleType (xs:restriction)*>
        <!ELEMENT xs:restriction (xs:enumeration|xs:whiteSpace|xs:pattern)*>
        <!ATTLIST xs:restriction
                base CDATA #REQUIRED>
        <!ELEMENT xs:enumeration (#PCDATA)>
        <!ATTLIST xs:enumeration
                value CDATA #REQUIRED>
        <!ELEMENT xs:whiteSpace (#PCDATA)>
        <!ATTLIST xs:whiteSpace
                value CDATA #REQUIRED>
        <!ELEMENT xs:pattern (#PCDATA)>
        <!ATTLIST xs:pattern
                value CDATA #REQUIRED>
        <!ELEMENT xs:simpleContent (xs:extension)*>
        <!ELEMENT xs:extension (xs:attribute)*>
        <!ATTLIST xs:extension
                base CDATA #REQUIRED>
        <!ELEMENT xs:all (xs:element)*>
        ]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="SciencePapers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SciencePaper" type="TSciencePaper" minOccurs="0" maxOccurs="unbounded">
                    <xs:key name="citation_refrence">
                        <xs:selector xpath=".//Citations/*"></xs:selector>
                        <xs:field xpath="@cID"></xs:field>
                    </xs:key>
                    <xs:keyref refer="citation_refrence" name="qute">
                        <xs:selector xpath=".//*"></xs:selector>
                        <xs:field xpath="@citation"></xs:field>
                    </xs:keyref>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="pageTitle">
            <xs:selector xpath=".//*"></xs:selector>
            <xs:field xpath="@documentTitle"></xs:field>
        </xs:unique>
    </xs:element>
    <xs:complexType name="TSciencePaper">
        <xs:sequence>
            <xs:element name="PaperData" type="TPaperData">
                
            </xs:element>
            <xs:element maxOccurs="unbounded" name="Paragraf" type="TParagraf">
                
            </xs:element>
            <xs:element name="Citations" type="TCitations" minOccurs="0">
                
            </xs:element>
            <xs:element maxOccurs="unbounded" name="CitedBy" type="xs:string"/>
        </xs:sequence>
        <xs:attribute default="XML" name="documentType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="RDF"/>
                    <xs:enumeration value="XML"/>
                    <xs:enumeration value="XHTML"/>
                    <xs:whiteSpace value="preserve"/>
                    <xs:enumeration value="PDF"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="documentId" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{1,2},\d{1,2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="received" type="xs:date"/>
        <xs:attribute name="revised" type="xs:date"/>
        <xs:attribute name="accepted" type="xs:date"/>
        <xs:attribute name="pp"/>
    </xs:complexType>
    <xs:complexType name="TPaperData">
        <xs:sequence>
            <xs:element name="Title" form="qualified">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="documentTitle" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ShortTitle" type="xs:string"/>
            <xs:element name="PublicationDate" type="xs:date"/>
            <xs:element name="Citation" type="xs:string"/>
            <xs:element name="DocumentLink" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="Author" type="TAuthor"/>
            <xs:element name="DownloadInformation" type="TDownloadInformation"/>
        </xs:sequence>
        <xs:attribute name="numberOfReferences" type="xs:positiveInteger"/>
        <xs:attribute name="contact" type="xs:string"/>
        <xs:attribute name="numberOfDownloads" type="xs:positiveInteger"/>
    </xs:complexType>
    <xs:complexType name="TParagraf" mixed="true">
            <xs:all>
                <xs:element name="image" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="content">
                                <xs:simpleType>
                                    <xs:restriction base="xs:base64Binary"/>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="list">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="element" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute default="unorderd" name="type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="orderd"/>
                                    <xs:enumeration value="unorderd"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="table" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element form="qualified" maxOccurs="unbounded" name="row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="cell"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="content" minOccurs="0" >
                    <xs:complexType mixed="true">
                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="quote" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="citation" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
    </xs:complexType>
    
    <xs:complexType name="TCitations">
        <xs:sequence>
            <xs:element name="citation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="cID" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TAuthor">
        <xs:sequence>
            <xs:element name="FullName" type="xs:string"/>
            <xs:element name="Institution" type="TInstitution"/>
            <xs:element name="EMail" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TDownloadInformation">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RecommendedPaper" type="xs:string"
            />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TInstitution">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
